.powerify_upper_bar {
    height: 40px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
}
.powerify_color_choose{
	border-radius: 5px;
	height: 40px;
	width: 120px;
	text-align : center;
	font-size: 20px;
	line-height: 40px;
}
.button{
	border-radius: 5px;
	height: 40px;
	width: 120px;
	border: 1px solid #555555;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.coupon-preview {
    width: 100%;
    height: 120px;
    text-align: center;
    padding: 8px;
    margin: 0;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.coupon-select-preview-wrapper {
    width: 440px;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

.coupon-select-preview-wrapper img {
    width: 440px;
}

.coupon-select-preview {
    width: 440px;
    height: 240px;
    text-align: center;
    padding: 12px;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    background-color: #018E91;
}

.coupon-select-with-image .coupon-select-preview {
    padding: 0;
    height: 130px;
}

.coupon-select-image-preview {
    display: block;
}

.coupon-preview * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.coupon-wrapper-preview {
    border: 2px dashed;
    height: 100%;
    position: relative;
}

.coupon-innerbox-preview {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.coupon-title-preview {
    font-size: 1.25em;
    font-weight: bold;
    line-height: 1.25em;
    margin: 0;
}

.coupon-subtitle-preview {
    font-size: 0.8em;
    font-weight: normal;
    line-height: 0.8em;
    margin-bottom: 4px;
}

.coupon-code-preview {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    font-size: 10px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 6px 12px;
}


.template_selected_preview .coupon-title-preview {
    font-size: 24px;
}

.coupon-select-with-image .coupon-select-preview .coupon-title-preview {
    font-size: 20px;
}

.template_selected_preview .coupon-subtitle-preview {
    font-size: 18px;
    line-height: 1em;
    margin-bottom: 12px;
}

.coupon-select-with-image .coupon-select-preview .coupon-subtitle-preview {
    font-size: 14px;
}

.template_selected_preview .coupon-code-preview {
    font-size: 16px;
}


.info-box {
    box-shadow: none;
}

.coupon-preview-list {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: center;
    justify-content: center;
}

.coupon-preview-item {
    width: 260px;
    float: left;
}


/* Code at the side */
.coupon-innerbox-code-preview {
    margin-top: 12px;
}

.coupon-innerbox-code-preview:after {
    display: table;
    content: '';
    clear: both;
}

.coupon-innerbox-code-preview .coupon-subtitle-preview {
    float: left;
    padding-right: 8px;
    width: 30%;
}

.coupon-innerbox-code-preview .coupon-code-preview {
    float: left;
    width: 70%;
}

.powerify_sales-pop{
    border: 1px solid transparent;
    border-radius: 4px;
    background: red;
    max-height: 80px;
    padding: 15px;
    max-width: 80%;
    width: 325px;
    margin: auto;
}
.powerify_sales-pop.powerify_sales-pop-error{
    background-color: #f2dede;
    color: #a94442;
    border-color: #ebccd1;
}
.powerify_sales-pop.powerify_sales-pop-info{
    background-color: #d9edf7;
    color: #31708f;
    border-color: #bce8f1;
}
.powerify_sales-pop.powerify_sales-pop-success{
    background-color: #dff0d8;
    color: #3c763d;
    border-color: #d6e9c6;
}
.powerify_sales-pop.powerify_sales-pop-warning{
    background-color: #fcf8e3;
    color: #8a6d3b;
    border-color: #faebcc;
}
.powerify_sales-pop.powerify_sales-pop-alerte{
    background-color: #fcf8e3;
    color: #8a6d3b;
    border-color: #faebcc;
}

.powerify-color-overlay{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}
.powerify-button-color{
    border-radius: 5px;
    height: 36px;
    width: 40px;
    border: 1px solid #555555;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    position: relative;
    left: -20px;
    top: 3px;
}
.powerify-buy_me{
    width: 100%;
    border: none;
    margin-top: 10px;
}