/* latin */
@font-face {
	font-family: 'Chewy';
	font-style: normal;
	font-weight: 400;
	src: local('Chewy Regular'), local('Chewy-Regular'), url(https://fonts.gstatic.com/s/chewy/v9/5hjlzHutNEezEnXmVTTKi6CWcynf_cDxXwCLxiixG1c.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(https://fonts.gstatic.com/s/comfortaa/v12/Be0CkOtwwI2n86HMhtablYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(https://fonts.gstatic.com/s/comfortaa/v12/-DackuIFgo7Hfy3rR14C34X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(https://fonts.gstatic.com/s/comfortaa/v12/UgYUhLCkRUocJ8OZnvelZ4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
	unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(https://fonts.gstatic.com/s/comfortaa/v12/Ao3NCHUpHgdVgp2UtibJoYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(https://fonts.gstatic.com/s/comfortaa/v12/wz1gqe57Mbg11v-OrLlVjoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Comfortaa';
	font-style: normal;
	font-weight: 400;
	src: local('Comfortaa Regular'), local('Comfortaa-Regular'), url(https://fonts.gstatic.com/s/comfortaa/v12/qLBu5CQmSMt1H43OiWJ77ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
	font-family: 'Courgette';
	font-style: normal;
	font-weight: 400;
	src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v5/Gkr63O-aJXf4Mv4t7cBUcoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Courgette';
	font-style: normal;
	font-weight: 400;
	src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v5/BHG8ZtTfO0yYnp02--QxqpBw1xU1rKptJj_0jans920.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
	font-family: 'Economica';
	font-style: normal;
	font-weight: 400;
	src: local('Economica'), local('Economica-Regular'), url(https://fonts.gstatic.com/s/economica/v5/ivOlup5oBnODGd64nVDAFIX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Economica';
	font-style: normal;
	font-weight: 400;
	src: local('Economica'), local('Economica-Regular'), url(https://fonts.gstatic.com/s/economica/v5/jObgDQiPUtmACAaaK3pMG5Bw1xU1rKptJj_0jans920.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* vietnamese */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v12/xgzbb53t8j-Mo-vYa23n5vgrLsWo7Jk1KvZser0olKY.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v12/xgzbb53t8j-Mo-vYa23n5ojoYw3YTyktCCer_ilOlhE.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Josefin Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Josefin Sans Regular'), local('JosefinSans-Regular'), url(https://fonts.gstatic.com/s/josefinsans/v12/xgzbb53t8j-Mo-vYa23n5hampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
	font-family: 'Josefin Slab';
	font-style: normal;
	font-weight: 400;
	src: local('Josefin Slab Regular'), local('JosefinSlab-Regular'), url(https://fonts.gstatic.com/s/josefinslab/v8/46aYWdgz-1oFX11flmyEfRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
	font-family: 'Kaushan Script';
	font-style: normal;
	font-weight: 400;
	src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://fonts.gstatic.com/s/kaushanscript/v6/qx1LSqts-NtiKcLw4N03IJsabQn3CiWJQhcyqO-X-wo.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Kaushan Script';
	font-style: normal;
	font-weight: 400;
	src: local('Kaushan Script'), local('KaushanScript-Regular'), url(https://fonts.gstatic.com/s/kaushanscript/v6/qx1LSqts-NtiKcLw4N03IJsM3FTMmj2kTPH3yX99Yaw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
	font-family: 'Lobster Two';
	font-style: normal;
	font-weight: 400;
	src: local('Lobster Two'), local('LobsterTwo'), url(https://fonts.gstatic.com/s/lobstertwo/v10/Law3VVulBOoxyKPkrNsAaIgp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/rBHvpRWBkgyW99dXT88n7wsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/NX1NravqaXESu9fFv7KuqgsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/SKK6Nusyv8QPNMtI4j9J2wsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/gFXtEMCp1m_YzxsBpKl68gsYbbCjybiHxArTLjt7FRU.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v12/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
	font-family: 'Orbitron';
	font-style: normal;
	font-weight: 400;
	src: local('Orbitron Regular'), local('Orbitron-Regular'), url(https://fonts.gstatic.com/s/orbitron/v9/HmnHiRzvcnQr8CjBje6GQnYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* cyrillic */
@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/NK6r2Jdr617AEZS3-wXtnBkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/m0Shgsxo4xCSzZHO6RHWxBkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
	unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/6RfRbOG3yn4TnWVTc898ERkAz4rYn47Zy2rvigWQf6w.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Pacifico';
	font-style: normal;
	font-weight: 400;
	src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/Q_Z9mv4hySLTMoMjnk_rCXYhjbSpvc47ee6xR_80Hnw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
	font-family: 'Quattrocento Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Quattrocento Sans'), local('QuattrocentoSans'), url(https://fonts.gstatic.com/s/quattrocentosans/v10/efd6FGWWGX5Z3ztwLBrG9X1YW00lgGbZnyY5SugJ188.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Quattrocento Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Quattrocento Sans'), local('QuattrocentoSans'), url(https://fonts.gstatic.com/s/quattrocentosans/v10/efd6FGWWGX5Z3ztwLBrG9czpYVnxV7fe3GzmF357o4o.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v12/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin */
@font-face {
	font-family: 'Satisfy';
	font-style: normal;
	font-weight: 400;
	src: local('Satisfy Regular'), local('Satisfy-Regular'), url(https://fonts.gstatic.com/s/satisfy/v8/0EcI1zXfvSXoNHQChcRmRwLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/7XUFZ5tgS-tD6QamInJTcSGR3J8a2Jm30YJvJ3tIMOY.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Titillium Web';
	font-style: normal;
	font-weight: 400;
	src: local('Titillium Web Regular'), local('TitilliumWeb-Regular'), url(https://fonts.gstatic.com/s/titilliumweb/v6/7XUFZ5tgS-tD6QamInJTceHuglUR2dhBxWD-q_ehMME.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* cyrillic-ext */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKcg72nU6AF7xm.woff2) format('woff2');
	unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKew72nU6AF7xm.woff2) format('woff2');
	unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKcw72nU6AF7xm.woff2) format('woff2');
	unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfA72nU6AF7xm.woff2) format('woff2');
	unicode-range: U+0370-03FF;
}
/* latin-ext */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKcQ72nU6AF7xm.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
	font-family: 'Ubuntu';
	font-style: normal;
	font-weight: 400;
	src: local('Ubuntu Regular'), local('Ubuntu-Regular'), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCs6KVjbNBYlgoKfw72nU6AFw.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}

.clearfix {
	overflow: auto;
	zoom: 1;
}

.powerify-loader {
	border: 10px solid #f3f3f3;
	border-top: 10px solid #4b4b4b;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	animation: spin 1s linear infinite;
	text-align: center;
	margin: auto;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.powerify_upper_bar{
	z-index:100;
	width: 100%;
	height:0;
	text-align: center;
	font-size: 20px;
	line-height: 40px;
	position: fixed;
	top:0;
	overflow:hidden;
}
.powerify_upper_bar a{
	display:inline-block;
	width: 100%;
	height:100%;
}
.powerify_upper_bar a:hover,.powerify_upper_bar  a:focus {
	opacity: 1;
}
.inAdmin .powerify_upper_bar{
	top:40px;
}


.powerify-quickview-wrapper{
	position:relative;
}

.powerify-quickview-wrapper:hover .powerify-quickview-button-wrapper{
	display: block;
}

.powerify-quickview-wrapper:hover .powerify-quickview-button-wrapper{
	display: block;
}

.powerify-quickview-button-wrapper{
	position: absolute;
	left: 0;
	right: 0;
	text-align: center;
	height: 40px;
	display: none;
}
.powerify-quickview-button-wrapper.powerify-qv-center{
	bottom: 0;
	top: 0;
}
.powerify-quickview-button-wrapper.powerify-qv-top{
	top: 5px;
}
.powerify-quickview-button-wrapper.powerify-qv-bottom{
	bottom: 5px;
}
.powerify-quickview-button-wrapper a{
	background: black;
	color:white;
	height:40px;
	line-height:40px;
	display: inline-block;
	padding: 0 10px;
}
.powerify-quickview-button-wrapper a:hover{
	opacity:0.8;
}
.powerify-qv-modal{
	width: 90%;
}
.powerify-qv-modal .powerify-qv-content-image{
	width : 40%;
	float: left;
}
.powerify-qv-modal .powerify-qv-content-product{
	width: 60%;
	float: right;
	padding: 0 20px;
}
.powerify-qv-modal .powerify-qv-product-title{
	font-size : 20px;
	margin-bottom : 12px;
	font-weight: bold;
}
.powerify-qv-modal .powerify-qv-product-price{
	font-size : 23px;
	margin-bottom : 12px;
}
.powerify-qv-modal .powerify-qv-seeMore{
	margin-bottom:20px;
	font-weight: bold;
}
.powerify-qv-modal .powerify-qv-product-description{
	margin-bottom : 10px;
	overflow: auto;
	max-height: 200px;

}
.powerify-qv-modal .powerify-qv-buy-panel select{
	margin: 5px;
}
.powerify-qv-modal .powerify-qv-buy-panel input[type="number"]{
	margin: 5px;
	width:100px;
}
.powerify-qv-modal .powerify-qv-buy-panel{
	text-align:center;
}
.powerify-qv-modal .powerify-qv-buy-panel input[type="submit"]{
	color : #fff;
	border:none;
	display:block;
	margin: auto;
	margin-top: 5px;
}
.powerify-qv-modal:not(.powerify-inLoad) .powerify-loader{
	display: none;
}
.powerify-qv-modal.powerify-inLoad .powerify-content-modal{
	display: none;
}
.powerify-sticky-me{
	position: fixed;
	z-index: 1;
	width : 100%;
	opacity: 0.9;
	z-index: 101;
	display:none;
}
.powerify-sticky-me-bottom{
	bottom:0;
}
.powerify-sticky-me-top{
	top:0;
}
.powerify-sticky-me .powerify-sticky-me-button {
	border: none;
	width: 100%;
	font-size: 26px;
}
.powerify-sticky-me-show {
	display:block;
}
.transition {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}


#powerify-coupon-on-exit{
	max-width: 80%;
	width: 440px;
	height: 240px;
	text-align: center;
	padding: 12px;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	position: relative;
}
#powerify-coupon-on-exit .powerify-coupon-wrapper{
	border: 2px dashed;
	height: 100%;
	position: relative;
}
#powerify-coupon-on-exit .powerify-coupon-innerbox{
	width: 90%;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#powerify-coupon-on-exit .powerify-coupon-title{
	font-size: 24px;
	font-weight: bold;
	line-height: 1.25em;
	margin: 0;
}

#powerify-coupon-on-exit .powerify-coupon-subtitle{
	font-size: 18px;
	font-weight: normal;
	line-height: 1em;
	margin-bottom: 12px;
}

#powerify-coupon-on-exit .powerify-coupon-code{
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	padding: 6px 12px;
}

.powerify-exitcoupon-modal.fancybox-is-open .fancybox-bg{
	opacity: .3;
}

.powerify-noty-content-title{
	display: block;
	font-size: 16px !important;
	color : black;
	line-height: 15px;
	font-weight: 600;
}
.noty_layout .noty_body .powerify-noty-image{
	vertical-align: top;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: white;
	float:left;
}
.noty_layout .noty_body .powerify-noty-content{
	padding : 10px 0px 0 20px !important;
}
.noty_layout .noty_type__success .noty_body .powerify-noty-content{
	padding : 20px 0px 0px 20px !important;
}
.noty_layout{
	width : 425px;
}

.noty_type__info .powerify-noty-content-title{
	color : white !important;
}
.noty_type__info .powerify-noty-content{
	color : #d2d2d2 !important;
}
.noty_layout .noty_body .powerify-noty-content{
	display: inline-block;
	float: right;
	color: #6a6a6a;
	line-height : 19px;
}
.noty_theme__bootstrap-v3.noty_type__success.noty_bar .noty_body,
.noty_theme__bootstrap-v3.noty_type__error.noty_bar .noty_body{
	padding : 0px !important;
}

.noty_theme__bootstrap-v3.noty_type__info{
	border-color : black !important;
	color : white !important;
	height : 100px;
	font-size : 15px;
	width : 415px;
	background-color : #1a1a1a !important;
	border-radius: 10px !important;
}

.noty_theme__bootstrap-v3.noty_type__success{
	border-color : black;
	color : black !important;
	height : 100px;
	font-size : 15px;
	width : 415px;
	background-color : white !important;
}
.noty_theme__bootstrap-v3.noty_type__error{
	border-color : black;
	color : black !important;
	height : 100px;
	font-size : 15px;
	width : 415px;
	background-color : white !important;
}
.noty_theme__bootstrap-v3.noty_type__warning{
	border-color : black;
	color : black !important;
	height : 100px;
	font-size : 15px;
	width : 435px;
	background-color : white !important;
}
.noty_theme__bootstrap-v3.noty_type__success.noty_bar{
	border-radius : 0px;
	border : 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.noty_theme__bootstrap-v3.noty_type__error.noty_bar,
.noty_theme__bootstrap-v3.noty_type__warning.noty_bar{
	border-radius : 99px;
	border : 0px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.noty_theme__bootstrap-v3.noty_type__info.noty_bar .noty_body,
.noty_theme__bootstrap-v3.noty_type__warning.noty_bar .noty_body {
	padding: 5px !important;
}

.noty_layout .noty_theme__bootstrap-v3.noty_type__info .noty_body .powerify-noty-image {
	height : 88px;
	width : 88px ;
	border-radius: 10px !important;
}
.noty_layout .noty_theme__bootstrap-v3.noty_type__success .noty_body .powerify-noty-image {
	height : 100px;
	width : 100px ;
	border-radius: 0px !important;
}
.noty_layout .noty_theme__bootstrap-v3.noty_type__error .noty_body .powerify-noty-image {
	height : 100px;
	width : 100px ;
}
.noty_layout .noty_theme__bootstrap-v3.noty_type__warning .noty_body .powerify-noty-image {
	height : 90px;
	width : 100px ;
	border-radius : 99px;
}
.noty_layout .noty_theme__bootstrap-v3.noty_type__info .noty_body .powerify-noty-content {
	width : calc(100% - 88px);
}
.noty_layout .noty_theme__bootstrap-v3.noty_type__warning .noty_body .powerify-noty-content,
.noty_layout .noty_theme__bootstrap-v3.noty_type__error .noty_body .powerify-noty-content,
.noty_layout .noty_theme__bootstrap-v3.noty_type__success .noty_body .powerify-noty-content{
	width : calc(100% - 100px);
}
@media screen and (max-width: 766px) {

	.noty_layout{
		left : calc((100% - 343px)/2) !important;
		bottom : 2px !important;
	}
	.noty_theme__bootstrap-v3{
		height : 80px !important;
		width : 345px !important;
		font-size : 12px !important;

	}
	.noty_theme__bootstrap-v3.noty_type__warning{
		border-color : black;
		color : black !important;
		background-color : white !important;
	}
	.noty_layout .noty_theme__bootstrap-v3.noty_type__warning .noty_body .powerify-noty-image {
		height : 75px;
	}
	.noty_theme__bootstrap-v3.noty_type__warning.noty_bar .noty_body{
		padding : 2px !important;
	}

	.noty_layout .noty_theme__bootstrap-v3.noty_type__info .noty_body .powerify-noty-image {
		height : 68px ;
		width : 100px ;
	}
	.noty_layout .noty_theme__bootstrap-v3.noty_type__info .noty_body .powerify-noty-content {
		width : calc(100% - 100px);
	}
	.noty_layout .noty_theme__bootstrap-v3.noty_type__success .noty_body .powerify-noty-image {
		height : 80px ;
	}
	.noty_layout .noty_theme__bootstrap-v3.noty_type__error .noty_body .powerify-noty-image {
		height : 80px ;
	}

}
#flagIcon,#flagIcon2,#flagIcon3 {
	vertical-align: -11px;
	line-height: 1;
}

.powerify-show-flag {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url("https://cdn.shopify.com/s/files/1/1471/9484/t/20/assets/flags32.png");
	background-repeat: no-repeat;
	vertical-align: middle;
}

.abkhazia {
	background-position: -0px -0px;
	display: none;
}

.basque-country {
	background-position: -32px -0px;
}

.british-antarctic-territory {
	background-position: -64px -0px;
}

.commonwealth {
	background-position: -96px -0px;
}

.england {
	background-position: -128px -0px;
}

.gosquared {
	background-position: -160px -0px;
}

.kosovo {
	background-position: -192px -0px;
}

.mars {
	background-position: -224px -0px;
}

.nagorno-karabakh {
	background-position: -256px -0px;
}

.nato {
	background-position: -288px -0px;
}

.northern-cyprus {
	background-position: -320px -0px;
}

.olympics {
	background-position: -352px -0px;
}

.red-cross {
	background-position: -384px -0px;
}

.scotland {
	background-position: -416px -0px;
}

.somaliland {
	background-position: -448px -0px;
}

.south-ossetia {
	background-position: -480px -0px;
}

.united-nations {
	background-position: -512px -0px;
}

.unknown {
	background-position: -0px -32px;
}

.wales {
	background-position: -32px -32px;
}

.ad {
	background-position: -64px -32px;
}

.ae {
	background-position: -96px -32px;
}

.af {
	background-position: -128px -32px;
}

.ag {
	background-position: -160px -32px;
}

.ai {
	background-position: -192px -32px;
}

.al {
	background-position: -224px -32px;
}

.am {
	background-position: -256px -32px;
}

.an {
	background-position: -288px -32px;
}

.ao {
	background-position: -320px -32px;
}

.aq {
	background-position: -352px -32px;
}

.ar {
	background-position: -384px -32px;
}

.as {
	background-position: -416px -32px;
}

.at {
	background-position: -448px -32px;
}

.au {
	background-position: -480px -32px;
}

.aw {
	background-position: -512px -32px;
}

.ax {
	background-position: -0px -64px;
}

.az {
	background-position: -32px -64px;
}

.ba {
	background-position: -64px -64px;
}

.bb {
	background-position: -96px -64px;
}

.bd {
	background-position: -128px -64px;
}

.be {
	background-position: -160px -64px;
}

.bf {
	background-position: -192px -64px;
}

.bg {
	background-position: -224px -64px;
}

.bh {
	background-position: -256px -64px;
}

.bi {
	background-position: -288px -64px;
}

.bj {
	background-position: -320px -64px;
}

.bl {
	background-position: -352px -64px;
}

.bm {
	background-position: -384px -64px;
}

.bn {
	background-position: -416px -64px;
}

.bo {
	background-position: -448px -64px;
}

.br {
	background-position: -480px -64px;
}

.bs {
	background-position: -512px -64px;
}

.bt {
	background-position: -0px -96px;
}

.bw {
	background-position: -32px -96px;
}

.by {
	background-position: -64px -96px;
}

.bz {
	background-position: -96px -96px;
}

.ca {
	background-position: -128px -96px;
}

.cc {
	background-position: -160px -96px;
}

.cd {
	background-position: -192px -96px;
}

.cf {
	background-position: -224px -96px;
}

.cg {
	background-position: -256px -96px;
}

.ch {
	background-position: -288px -96px;
}

.ci {
	background-position: -320px -96px;
}

.ck {
	background-position: -352px -96px;
}

.cl {
	background-position: -384px -96px;
}

.cm {
	background-position: -416px -96px;
}

.cn {
	background-position: -448px -96px;
}

.co {
	background-position: -480px -96px;
}

.cr {
	background-position: -512px -96px;
}

.cu {
	background-position: -0px -128px;
}

.cv {
	background-position: -32px -128px;
}

.cw {
	background-position: -64px -128px;
}

.cx {
	background-position: -96px -128px;
}

.cy {
	background-position: -128px -128px;
}

.cz {
	background-position: -160px -128px;
}

.de {
	background-position: -192px -128px;
}

.dj {
	background-position: -224px -128px;
}

.dk {
	background-position: -256px -128px;
}

.dm {
	background-position: -288px -128px;
}

.do {
	background-position: -320px -128px;
}

.dz {
	background-position: -352px -128px;
}

.ec {
	background-position: -384px -128px;
}

.ee {
	background-position: -416px -128px;
}

.eg {
	background-position: -448px -128px;
}

.eh {
	background-position: -480px -128px;
}

.er {
	background-position: -512px -128px;
}

.es {
	background-position: -0px -160px;
}

.et {
	background-position: -32px -160px;
}

.eu {
	background-position: -64px -160px;
}

.fi {
	background-position: -96px -160px;
}

.fj {
	background-position: -128px -160px;
}

.fk {
	background-position: -160px -160px;
}

.fm {
	background-position: -192px -160px;
}

.fo {
	background-position: -224px -160px;
}

.fr {
	background-position: -256px -160px;
}

.ga {
	background-position: -288px -160px;
}

.gb {
	background-position: -320px -160px;
}

.gd {
	background-position: -352px -160px;
}

.ge {
	background-position: -384px -160px;
}

.gg {
	background-position: -416px -160px;
}

.gh {
	background-position: -448px -160px;
}

.gi {
	background-position: -480px -160px;
}

.gl {
	background-position: -512px -160px;
}

.gm {
	background-position: -0px -192px;
}

.gn {
	background-position: -32px -192px;
}

.gq {
	background-position: -64px -192px;
}

.gr {
	background-position: -96px -192px;
}

.gs {
	background-position: -128px -192px;
}

.gt {
	background-position: -160px -192px;
}

.gu {
	background-position: -192px -192px;
}

.gw {
	background-position: -224px -192px;
}

.gy {
	background-position: -256px -192px;
}

.hk {
	background-position: -288px -192px;
}

.hn {
	background-position: -320px -192px;
}

.hr {
	background-position: -352px -192px;
}

.ht {
	background-position: -384px -192px;
}

.hu {
	background-position: -416px -192px;
}

.ic {
	background-position: -448px -192px;
}

.id {
	background-position: -480px -192px;
}

.ie {
	background-position: -512px -192px;
}

.il {
	background-position: -0px -224px;
}

.im {
	background-position: -32px -224px;
}

.in {
	background-position: -64px -224px;
}

.iq {
	background-position: -96px -224px;
}

.ir {
	background-position: -128px -224px;
}

.is {
	background-position: -160px -224px;
}

.it {
	background-position: -192px -224px;
}

.je {
	background-position: -224px -224px;
}

.jm {
	background-position: -256px -224px;
}

.jo {
	background-position: -288px -224px;
}

.jp {
	background-position: -320px -224px;
}

.ke {
	background-position: -352px -224px;
}

.kg {
	background-position: -384px -224px;
}

.kh {
	background-position: -416px -224px;
}

.ki {
	background-position: -448px -224px;
}

.km {
	background-position: -480px -224px;
}

.kn {
	background-position: -512px -224px;
}

.kp {
	background-position: -0px -256px;
}

.kr {
	background-position: -32px -256px;
}

.kw {
	background-position: -64px -256px;
}

.ky {
	background-position: -96px -256px;
}

.kz {
	background-position: -128px -256px;
}

.la {
	background-position: -160px -256px;
}

.lb {
	background-position: -192px -256px;
}

.lc {
	background-position: -224px -256px;
}

.li {
	background-position: -256px -256px;
}

.lk {
	background-position: -288px -256px;
}

.lr {
	background-position: -320px -256px;
}

.ls {
	background-position: -352px -256px;
}

.lt {
	background-position: -384px -256px;
}

.lu {
	background-position: -416px -256px;
}

.lv {
	background-position: -448px -256px;
}

.ly {
	background-position: -480px -256px;
}

.ma {
	background-position: -512px -256px;
}

.mc {
	background-position: -0px -288px;
}

.md {
	background-position: -32px -288px;
}

.me {
	background-position: -64px -288px;
}

.mf {
	background-position: -96px -288px;
}

.mg {
	background-position: -128px -288px;
}

.mh {
	background-position: -160px -288px;
}

.mk {
	background-position: -192px -288px;
}

.ml {
	background-position: -224px -288px;
}

.mm {
	background-position: -256px -288px;
}

.mn {
	background-position: -288px -288px;
}

.mo {
	background-position: -320px -288px;
}

.mp {
	background-position: -352px -288px;
}

.mq {
	background-position: -384px -288px;
}

.mr {
	background-position: -416px -288px;
}

.ms {
	background-position: -448px -288px;
}

.mt {
	background-position: -480px -288px;
}

.mu {
	background-position: -512px -288px;
}

.mv {
	background-position: -0px -320px;
}

.mw {
	background-position: -32px -320px;
}

.mx {
	background-position: -64px -320px;
}

.my {
	background-position: -96px -320px;
}

.mz {
	background-position: -128px -320px;
}

.na {
	background-position: -160px -320px;
}

.nc {
	background-position: -192px -320px;
}

.ne {
	background-position: -224px -320px;
}

.nf {
	background-position: -256px -320px;
}

.ng {
	background-position: -288px -320px;
}

.ni {
	background-position: -320px -320px;
}

.nl {
	background-position: -352px -320px;
}

.no {
	background-position: -384px -320px;
}

.np {
	background-position: -416px -320px;
}

.nr {
	background-position: -448px -320px;
}

.nu {
	background-position: -480px -320px;
}

.nz {
	background-position: -512px -320px;
}

.om {
	background-position: -0px -352px;
}

.pa {
	background-position: -32px -352px;
}

.pe {
	background-position: -64px -352px;
}

.pf {
	background-position: -96px -352px;
}

.pg {
	background-position: -128px -352px;
}

.ph {
	background-position: -160px -352px;
}

.pirate-black {
	background-position: -192px -352px;
}

.pirate-white {
	background-position: -224px -352px;
}

.pk {
	background-position: -256px -352px;
}

.pl {
	background-position: -288px -352px;
}

.pn {
	background-position: -320px -352px;
}

.pr {
	background-position: -352px -352px;
}

.ps {
	background-position: -384px -352px;
}

.pt {
	background-position: -416px -352px;
}

.pw {
	background-position: -448px -352px;
}

.py {
	background-position: -480px -352px;
}

.qa {
	background-position: -512px -352px;
}

.ro {
	background-position: -0px -384px;
}

.rs {
	background-position: -32px -384px;
}

.ru {
	background-position: -64px -384px;
}

.rw {
	background-position: -96px -384px;
}

.sa {
	background-position: -128px -384px;
}

.sb {
	background-position: -160px -384px;
}

.sc {
	background-position: -192px -384px;
}

.sd {
	background-position: -224px -384px;
}

.se {
	background-position: -256px -384px;
}

.sg {
	background-position: -288px -384px;
}

.sh {
	background-position: -320px -384px;
}

.si {
	background-position: -352px -384px;
}

.sk {
	background-position: -384px -384px;
}

.sl {
	background-position: -416px -384px;
}

.sm {
	background-position: -448px -384px;
}

.sn {
	background-position: -480px -384px;
}

.so {
	background-position: -512px -384px;
}

.sr {
	background-position: -0px -416px;
}

.ss {
	background-position: -32px -416px;
}

.st {
	background-position: -64px -416px;
}

.sv {
	background-position: -96px -416px;
}

.sy {
	background-position: -128px -416px;
}

.sz {
	background-position: -160px -416px;
}

.tc {
	background-position: -192px -416px;
}

.td {
	background-position: -224px -416px;
}

.tf {
	background-position: -256px -416px;
}

.tg {
	background-position: -288px -416px;
}

.th {
	background-position: -320px -416px;
}

.tj {
	background-position: -352px -416px;
}

.tk {
	background-position: -384px -416px;
}

.tl {
	background-position: -416px -416px;
}

.tm {
	background-position: -448px -416px;
}

.tn {
	background-position: -480px -416px;
}

.to {
	background-position: -512px -416px;
}

.tr {
	background-position: -0px -448px;
}

.tt {
	background-position: -32px -448px;
}

.tv {
	background-position: -64px -448px;
}

.tw {
	background-position: -96px -448px;
}

.tz {
	background-position: -128px -448px;
}

.ua {
	background-position: -160px -448px;
}

.ug {
	background-position: -192px -448px;
}

.us {
	background-position: -224px -448px;
}

.uy {
	background-position: -256px -448px;
}

.uz {
	background-position: -288px -448px;
}

.va {
	background-position: -320px -448px;
}

.vc {
	background-position: -352px -448px;
}

.ve {
	background-position: -384px -448px;
}

.vg {
	background-position: -416px -448px;
}

.vi {
	background-position: -448px -448px;
}

.vn {
	background-position: -480px -448px;
}

.vu {
	background-position: -512px -448px;
}

/********** scarcity **********/
.powerify-scarcity-text{
	margin-bottom: 10px;
	margin-top: 20px;
	display: block;
	width: 100%;
}
.flip-clock-wrapper ul li a:hover, .flip-clock-wrapper ul li a:focus{
	opacity:1;
}
#powerify-scarcity-wrapper .flip-clock-wrapper{
	display: inline-block;
	width: auto;
	margin: 0;
}
#powerify-scarcity-wrapper{
	width:100%;
}
/* FLipper Style */
.powerify-scarcity-flipper.flip-clock-wrapper ul{
	width: 35px;
	height: 55px;
	margin: 3px;
}
.powerify-scarcity-flipper.flip-clock-wrapper ul li{
	line-height: 55px;
}
.powerify-scarcity-flipper.flip-clock-wrapper ul li a div div.inn{
	font-size:40px;
}
.powerify-scarcity-flipper .flip-clock-divider{
	height:70px;
}
.powerify-scarcity-flipper .flip-clock-dot.top {
	top: 15px;
}
.powerify-scarcity-flipper .flip-clock-dot.bottom {
	bottom: 25px;
}
.powerify-scarcity-flipper .flip-clock-divider.seconds .flip-clock-label {
	right: -58px;
}
.powerify-scarcity-flipper .flip-clock-divider.minutes .flip-clock-label {
	right: -58px;
}
.powerify-scarcity-flipper .flip-clock-divider .flip-clock-label {
	right: -55px;
}
/* Red Style */
.powerify-scarcity-red.flip-clock-wrapper ul{
	width: 32px;
	height: 48px;
	margin: 3px;
	border-radius: 8px;
	-moz-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
	-webkit-box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), inset 2px 4px 0 0 rgba(255, 255, 255, 0.08);
}
.powerify-scarcity-red.flip-clock-wrapper ul li{
	line-height: 48px;
}
.powerify-scarcity-red.flip-clock-wrapper ul li a div div.inn{
	font-size:32px;
	background: white;
	text-shadow: none;
	color: #de4748;
}
.powerify-scarcity-red.flip-clock-wrapper ul li a div.up div.inn {
	background: #f7f7f7;
}
.powerify-scarcity-red.flip-clock-wrapper ul.play li.flip-clock-before .up .shadow,
.powerify-scarcity-red.flip-clock-wrapper ul.play li.flip-clock-active .up .shadow{
	background: #f7f7f7;
}
.powerify-scarcity-red.flip-clock-wrapper ul.play li.flip-clock-before .down .shadow,
.powerify-scarcity-red.flip-clock-wrapper ul.play li.flip-clock-active .down .shadow{
	background: #FFFFFF;
}
.powerify-scarcity-red .flip-clock-divider{
	height:70px;
}
.powerify-scarcity-red .flip-clock-dot.top {
	display: none;
}
.powerify-scarcity-red .flip-clock-dot.bottom {
	display: none;
}
.powerify-scarcity-red .flip-clock-divider.seconds .flip-clock-label {
	right: -58px;
}
.powerify-scarcity-red .flip-clock-divider.minutes .flip-clock-label {
	right: -55px;
}
.powerify-scarcity-red .flip-clock-divider .flip-clock-label {
	right: -52px;
	font-size: 10px;
}

/* Simple Style */
.powerify-scarcity-simple.flip-clock-wrapper ul{
	width: 27px;
	height: 50px;
	margin: 0;
	box-shadow: none;
	background: transparent;
}
.powerify-scarcity-simple.flip-clock-wrapper ul li{
	line-height: 50px;
}
.powerify-scarcity-simple.flip-clock-wrapper ul li a div div.inn{
	font-size: 45px;
	background: white;
	text-shadow: none;
	color: black;
}
.powerify-scarcity-simple .flip-clock-divider{
	height: 50px;
	width: 40px;
}
.powerify-scarcity-simple .flip-clock-dot.top {
	display: none;
}
.powerify-scarcity-simple .flip-clock-dot.bottom {
	display: none;
}
.powerify-scarcity-simple .flip-clock-divider.seconds .flip-clock-label {
	right: -54px;
}
.powerify-scarcity-simple .flip-clock-divider.minutes .flip-clock-label {
	right: -50px;
}
.powerify-scarcity-simple .flip-clock-divider .flip-clock-label {
	right: -45px;
	font-size: 14px;
	bottom: -1.2em;
	top:inherit;
}
/* Card Style */
.powerify-scarcity-card.flip-clock-wrapper ul{
	width: 20px;
	height: 50px;
	margin: 0;
	box-shadow: none;
}
.powerify-scarcity-card.flip-clock-wrapper ul::after{
	content: "";
	background: #313131;
	width: 10px;
	position: absolute;
	height: 100%;
	right: -10px;
}
.powerify-scarcity-card.flip-clock-wrapper ul::before{
	content: "";
	background: #313131;
	width: 10px;
	position: absolute;
	height: 100%;
	left: -10px;
}
.powerify-scarcity-card .flip-clock-divider + ul {
	padding: 0 ;
}
.powerify-scarcity-card.flip-clock-wrapper ul li{
	line-height: 50px;
}
.powerify-scarcity-card.flip-clock-wrapper ul li a div div.inn{
	font-size: 30px;
	background: #313131;
	text-shadow: none;
	color: white;
	border-radius: 0;
}
.powerify-scarcity-card .flip-clock-divider{
	height: 50px;
	width: 40px;
}
.powerify-scarcity-card .flip-clock-dot.top {
	display:none;
}
.powerify-scarcity-card .flip-clock-dot.bottom {
	display: none;
}
.powerify-scarcity-card .flip-clock-divider.seconds .flip-clock-label {
	right: -53px;
}
.powerify-scarcity-card .flip-clock-divider.minutes .flip-clock-label {
	right: -49px;
}
.powerify-scarcity-card .flip-clock-divider .flip-clock-label {
	right: -40px;
	font-size: 16px;
	bottom: -1.5em;
	top:inherit;
	z-index: 1;
}
.powerify-scarcity-card.flip-clock-wrapper ul li a div.down,
.powerify-scarcity-card.flip-clock-wrapper ul li a div.up{
	border-radius:0px
}
/********** scarcity **********/

/********** Image Review **********/
.powerify-product-review{
	display: inline-block;
	width: 100%;
	padding: 20px 25px;
}
.powerify-form-title{
	color: #000000;
	font-weight: bold;
	border-bottom: 1px solid #000000;
	margin: 30px 0;
	font-size: 20px;
}
.powerify-add-review-btn{
	display:none;
	background: #000000;
	color: #FFFFFF;
	margin-top: 20px;
	line-height: 40px;
	border-radius: 2px;
	width: 100%;
	margin-bottom: 20px;
	height: 40px;
	text-align: center;
	cursor:pointer;
}
.powerify-form-review{
	display:none;
}
.powerify-form-review .col-50{
	display: inline-block;
	width: 50%;
	float: left;
}
.powerify-form-review .col-50:first-child{
	padding-right:10px;
}
.powerify-form-review .col-50 + .col-50{
	padding-left:10px;
}
@media all and (max-width: 768px)
{
	.powerify-form-review .col-50{
		width: 100%;
		padding:0 !important;
	}
}

.powerify-form-review input,.powerify-form-review textarea{
	border: 1px solid #8b8b8b;
	background-color: #fff;
	color: #000;
	max-width: 100%;
	line-height: 1.2;
	border-radius: 2px;
	width: 100%;
	margin-bottom: 20px;
}
.powerify-form-review label{
	color: #000000;
	font-weight: bold;
}
.powerify-form-review input[type="file"]{
	border: none;
}
.powerify-form-review input.powerify-inline,.powerify-form-review label.powerify-inline{
	display:inline-block;
	width:inherit;
	margin-right:10px;
}
.powerify-form-review input[type="submit"]{
	background:#000000;
	color:#FFFFFF;
	margin-top:20px;
}
.powerify-form-review .powerify-submit-message{
	color: green;
	font-weight: bold;
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
	display: block;
}
.powerify-form-review .powerify-submit-message.error{
	color: red;
}

.powerify-form-review.isSubmitting input,
.powerify-form-review.isSubmitting select,
.powerify-form-review.isSubmitting textarea{
	pointer-events: none;
	background: #fbfbfb;
	color: #cdcdcd;
}
.powerify-form-review .powerify-review-stars-form{
	display: inline-block;
	vertical-align: middle;
}
.powerify-form-review .powerify-review-stars-form:hover .powerify-review-star-form{
	color: #ffd802;
}
.powerify-form-review .powerify-review-star-form{
	color: #ffd802;
	cursor:pointer;
	float: left;
	font-size: 20px;
}

.powerify-review-stars-form.powerify-review-rate-4-form .icon-star-5,
.powerify-review-stars-form.powerify-review-rate-3-form .icon-star-5,
.powerify-review-stars-form.powerify-review-rate-2-form .icon-star-5,
.powerify-review-stars-form.powerify-review-rate-1-form .icon-star-5,
.powerify-review-stars-form.powerify-review-rate-3-form .icon-star-4,
.powerify-review-stars-form.powerify-review-rate-2-form .icon-star-4,
.powerify-review-stars-form.powerify-review-rate-1-form .icon-star-4,
.powerify-review-stars-form.powerify-review-rate-2-form .icon-star-3,
.powerify-review-stars-form.powerify-review-rate-1-form .icon-star-3,
.powerify-review-stars-form.powerify-review-rate-1-form .icon-star-2,
.powerify-form-review .powerify-review-star-form:hover ~ .powerify-review-star-form{
	color: #dcdbdb;
}



.powerify-reviews{
	padding-top:20px;
}
.powerify-review-item{
	border-bottom: 1px solid #e4e4e4;
	display: block;
	width: 100%;
	padding: 20px 10px 0 10px;
}
.powerify-review-item:nth-child(even){
	background: #f6f6f6;
}
.powerify-review-image {
	display: inline-block;
	width: 100px;
}
.powerify-review-body {
	display: inline-block;
	width: calc(100% - 105px);
	vertical-align: top;
	padding-left: 20px;
}
.powerify-review-content {
	display: block;
	width: 100%;
	font-size: 14px;
}
.powerify-review-date {
	text-align: right;
	color: #c7c6c6;
	font-size: 15px;
}
.powerify-review-name {
	font-weight: bold;
	font-size: 18px;
	margin-bottom: 15px;
	color: #000000;
}
.powerify-review-title {
	display: inline-block;
	width: calc(100% - 100px);
	font-size: 16px;
	vertical-align: middle;
	margin-bottom: 5px;
}
.powerify-review-stars {
	display: inline-block;
	width: 95px;
	text-align: center;
}
.powerify-review-stars .powerify-star::before{
	margin: 0;
	font-size: 20px;
	font-family: FontAwesome;
	display: inline-block;
	content: "\f005";
	font-style: normal;

}
.powerify-review-stars .powerify-star {
	color: #FFD700;
}
.powerify-rate-4 .powerify-star-5,
.powerify-rate-3 .powerify-star-5,
.powerify-rate-3 .powerify-star-4,
.powerify-rate-2 .powerify-star-5,
.powerify-rate-2 .powerify-star-4,
.powerify-rate-2 .powerify-star-3,
.powerify-rate-1 .powerify-star-5,
.powerify-rate-1 .powerify-star-4,
.powerify-rate-1 .powerify-star-3,
.powerify-rate-1 .powerify-star-2{
	color: #dcdbdb;
}
.powerify-review-item.no-image .powerify-review-image{
	display:none;
}
.powerify-review-item.no-image .powerify-review-body{
	width:100%;
	padding:0;
}

.powerify-reviews-resume .powerify-review-resume-1{
	width:50%;
	float:left;
	text-align: center;
	font-size: 17px;
}
.powerify-reviews-resume .powerify-review-resume-1 .powerify-review-resume-golbalStars {
	color: #ffd802;
	font-size: 30px;
	line-height: 30px;
}
.powerify-reviews-resume .powerify-review-resume-1 .powerify-review-resume-golbalRate {
	font-size: 35px;
}
.powerify-reviews-resume .powerify-review-resume-2{
	width:50%;
	float:right;
	border-left: 1px solid #e4e4e4;
}
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars-wrapper {
	width: 230px;
	text-align: left;
	margin: auto;
}
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars{
	margin-bottom:5px;
}
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars span{
	margin-left: 5px;
}
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars .icon-star{
	color:#dcdbdb;
	font-size: 20px;
}
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(1) .icon-star:nth-child(1),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(1) .icon-star:nth-child(2),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(1) .icon-star:nth-child(3),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(1) .icon-star:nth-child(4),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(1) .icon-star:nth-child(5),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(2) .icon-star:nth-child(1),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(2) .icon-star:nth-child(2),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(2) .icon-star:nth-child(3),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(2) .icon-star:nth-child(4),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(3) .icon-star:nth-child(1),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(3) .icon-star:nth-child(2),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(3) .icon-star:nth-child(3),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(4) .icon-star:nth-child(1),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(4) .icon-star:nth-child(2),
.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars:nth-child(5) .icon-star:nth-child(1){
	color: #ffd802;
}
@media all and (max-width: 768px)
{
	.powerify-reviews-resume .powerify-review-resume-1{
		width: 100%;
	}
	.powerify-reviews-resume .powerify-review-resume-2{
		width: 100%;
		border: none;
		margin-top: 20px;
		border-bottom: 1px solid #e4e4e4;
		border-top: 1px solid #e4e4e4;
		padding: 20px 0;
	}
	.powerify-reviews-resume .powerify-review-resume-2 .powerify-review-resume-stars-wrapper{
		width: 200px;
	}
	.powerify-review-body{
		width: 100%;
		padding: 0;
	}
}

/** Upsell **/
#powerify-upsell{
	max-width:80%;
}
.powerify-upsell-products{
	display:flex;
}
.powerify-upsell-products .powerify-upsell-product{
	padding: 20px;
	text-align: center;
	border-left: 1px solid #e0e0e0;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
.powerify-upsell-products .powerify-upsell-product:first-child{
	border-left: none;
}
.powerify-upsell-products .powerify-upsell-product img{
	max-width: 400px;
	width:100%;
}
#powerify-upsell .powerify-upsell-checkout {
	background-color: black;
	color: white;
	padding: 10px 20px;
	float: right;
	margin-top: 15px;
}
.powerify-upsell-products .powerify-upsell-product .powerify-upsell-product-addToCart{
	display:inline-block;
	padding: 5px 10px;
	margin-top: 10px;
	cursor:pointer;
	border:none;
}
.powerify-upsell-products .powerify-upsell-product .powerify-upsell-product-price {
	margin-top: 10px;
}
.powerify-upsell-products .powerify-upsell-product .powerify-upsell-product-variations {
	margin-top: 10px;
}
.powerify-upsell-products .powerify-upsell-product .powerify-result-message {
	color: green;
}
@media all and (max-width: 620px)
{
	.powerify-upsell-products {
		display: block;
	}
	.powerify-upsell-products .powerify-upsell-product{
		border:none;
	}
	#powerify-upsell {
		text-align: center;
	}
	#powerify-upsell .powerify-upsell-checkout {
		background-color: black;
		display: inline-block;
		float: inherit;
		margin-top: 37px;
	}
}